* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;

    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    overflow-x: hidden;
}

img {
    height: 100px;
    width: 120px;
}

.navbar {
    width: 100vw;
    
    background-image: url('../../public/Bestanden/images/navBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 10px 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.menu {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.menu li {
    color: white;
    
    border-radius: 10px;
    
    width: auto;
}

.menu .li:hover {
    background-color: white;
}
  
.menu li a {
    color: black;
    text-decoration: none;
}

.menu.active{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu.active li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li a{
    color: black;
    
    text-decoration: none;
    
    font-family: 'arial';
    font-weight: 600;
    font-size: 16px;
}

.hamburger{
    border: none;
    
    display: none;
    flex-direction: column;
    
    cursor: pointer;
    position: unset;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.bar{
    display: block;
   
    width: 25px;
    height: 3px;
   
    margin: 3px auto;
   
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   
    background-color: black;
}

main .hero {
    height: auto;
    width: 95%;
    
    margin-bottom: 30px;
    margin: 10px;
    
    background-image: url("../../public/Bestanden/images/bannerAboutUs.jpg");
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
}

.hero h2 {
    color: cornflowerblue;
    
    margin-left: 20px;
    margin-top: 30px;
    
    text-align: center;
}

.hero p {
    width: 300px;
    height: auto;
    
    margin-left: 50px;
    margin-top: 20px;
    
    text-align: center;
}

.hero .learnMore{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
    
    height: 40px;
    width: 220px;
    
    border: 1px solid black;
    border-radius: 10px;
    
    background-color: cornflowerblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnMore:hover {
    background-color: white;
}

a{
    text-decoration: none;
    
    padding: 10px;
    
    color: black;
    
    font-weight: bold;
    font-size: 14px;
}

main {
    height: 100%;
   
    margin: 10px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main h1 {
    color: cornflowerblue;
   
    margin-top: 10px;
    margin-bottom: 30px;
   
    text-align: center;
}

.form-group {
    margin: 20px;
    padding: 19px;
    
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group input {
    width: 100px;
    height: 50px;
    
    font-size: 20px;
    
    margin: 10px;
}

button {
    height: 48px;
    width: 100px;
    
    font-weight: bold;
    
    background-color: yellow;
    
    border: 1px solid black;
    border-radius: 10px;
}

section {
    width: auto;
    
    margin-top: 30px;
    margin-bottom: 35px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    color: cornflowerblue;
    
    font-weight: 900;
    font-size: 40px;
    
    margin-top: 30px;
    margin-bottom: 20px;
}

section p {
    margin: 5px;
    
    font-size: 20px;
}

textarea {
    resize: none;
    
    height: 100px;
    width: 300px;
}

.dikgedrukt {
    font-weight: bold;
}

.openingsTijden {
    height: 645px;
}

.openingsTijden p {
    margin: 15px;
}

.bijzonderheden {
    width: 400px;
    
    text-align: center;
}

.aboutUs {
    margin-top: 16px;
}

.bannerComingSoon{
    display: none;
}

 
.cardSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    max-width: 400px;
}

.cards {
    width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 20px;
    
    border: 1px solid black;
    border-radius: 10px;
}

.cards img {
    margin-top: 0;
    margin-bottom: 5px;
    
    height: 320px;
    width: 100%;
}

.cards p {
    margin: 10px;
}

.cards .informatie {
    text-align: center;
}

.succesPagina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.besteld {
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.besteld p {
    font-weight: bold;
}

.besteld a {
    color: cornflowerblue;
}

.besteld h3 {
    margin-top: 10px;
    margin-left: 5px;
    
    text-align: center;
}

.bestelling {
    font-size: 70px;
    
    color: cornflowerblue;
    
    margin-top: 30px;
}

.container .page{
    margin-top: 53.3%;
    margin-bottom: 53.2%;
}

main table{
    border: 1px solid black;
    border-collapse: collapse;
}

main table tr th, main table tr td{
    border-bottom: 1px solid black;
}

footer {
    background-image: url('../../public/Bestanden/images/footerImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100px;
    
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 960px) {

    body {
        font-family: Helvetica, sans-serif;
        
        width: auto;
        height: 100vh;
    }
    
    .line {
        display: none;
    }

    .menu {
        display: block;
      }

    .navbar{
        width: 96.9% !important;
       
        background-image: url('../../public/Bestanden/images/navBackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 90px;
        width: auto;
    }

    img {
        height: 100px;
        width: 120px;
    }
    
    .details{
        width: 80%;
        height: auto;
       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .details img{
        width: 100%;
        height: 400px;
        
        border-radius: 10px;
        
        object-fit: cover;
    }

    .details h2{
        font-size: 28px;
        
        padding-top: 10px;
    }

    .details p{
        margin: 0px;
        padding-top: 10px;
    }

    .details p a{
        font-size: 20px;
        font-weight: normal;
        
        padding: 0px;
        
        text-decoration: underline;
        
        color: blue;
    }
    
    main .hero {
        height: auto;
        width: 100%;
       
        margin-bottom: 30px;
        margin: 10px;
       
        background-image: url("../../public/Bestanden/images/bannerAboutUs.jpg");
        background-repeat: no-repeat;
       
        display: flex;
        flex-direction: column;
    }
    
    .hero h2 {
        color: cornflowerblue;
        
        margin-left: 200px;
        margin-top: 30px;
        
        text-align: left;
    }
    
    .hero p {
        width: 400px;
        height: auto;
        
        margin-left: 50px;
        margin-top: 20px;
        
        padding: 10px;
    }
    
    .hero .learnMore{
        margin-top: 20px;
        margin-left: 150px;
        margin-bottom: 30px;
        
        height: 40px;
        width: 220px;
        
        border: 1px solid black;
        border-radius: 10px;
        
        background-color: cornflowerblue;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .learnMore:hover {
        background-color: white;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: row;
        
        list-style-type: none;
    }
    
    a{
        text-decoration: none;
        
        padding: 10px;
        
        color: black;
        
        font-weight: bold;
        font-size: 18px;
    }
    
    main {
        height: 100%;
        
        margin: 10px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    main h1 {
        color: cornflowerblue;
        
        margin-top: 15px;
        margin-bottom: 30px;
        
        text-align: center;
    }
    
    .form-group {
        margin: 20px;
        padding: 19px;
        
        font-weight: bold;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .form-group input {
        width: 280px;
        height: 50px;
        
        font-size: 20px;
        
        margin: 10px;
    }

    .form-group select {
        width: 280px;
        height: 50px;
        
        font-size: 20px;
        
        margin: 10px;
    }
    
    button {
        height: 48px;
        width: 100px;
        
        font-weight: bold;
        
        background-color: yellow;
        
        border: 1px solid black;
        border-radius: 10px;
        
        cursor: pointer;
    }
    
    section {
        width: 100%;
        
        margin-top: 30px;
        margin-bottom: 35px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    section h1 {
        color: cornflowerblue;
        
        font-weight: 900;
        font-size: 40px;
        
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    section p {
        margin: 5px;

        font-size: 20px;
    }
    
    textarea {
        resize: none;
        
        height: 100px;
        width: 300px;
    }
    
    .dikgedrukt {
        font-weight: bold;
    }
    
    .openingsTijden {
        height: 645px;
    }
    
    .openingsTijden p {
        margin: 15px;
    }
    
    .bijzonderheden {
        width: 400px;
        
        text-align: center;
    }
    
    .aboutUs {
        margin-top: 16px;
    }
    
    .bannerComingSoon {
        background-image: url('../../public/Bestanden/images/bannerComingSoon.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
        height: 300px;
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bannerComingSoon .h1ComingSoon {
        color: white;
        background-color: red;
        
        border: 10px solid white;
        
        font-size: 100px;
        opacity:  0.6;
    }
    
    .cardSection {
        display: flex;
        flex-wrap: wrap;
        
        max-width: 90%;
    }
    
    .cards {
        width: 300px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 20px;
        
        border: 1px solid black;
        border-radius: 10px;
    }
    
    .cards img {
        margin-top: 0;
        margin-bottom: 5px;
        
        height: 320px;
        width: 100%;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .cards p {
        margin: 10px;
    }
    
    .cards .informatie {
        text-align: center;
    }
    
    .succesPagina {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .besteld {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .besteld p {
        font-weight: bold;
    }
    
    .besteld a {
        color: cornflowerblue;
    }
    
    .besteld h3 {
        margin-left: 5px;
    }
    
    .bestelling {
        font-size: 70px;
        
        color: cornflowerblue;
        
        margin-top: 30px;
    }
    
    footer {
        background-image: url('../../public/Bestanden/images/footerImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
        height: 100px;
     
        color: white;

        display: flex;
        align-items: center;

        bottom: 0;
    }
}

@media screen and (max-width:900px) {
    .hamburger{ 
        display: flex;
    }
    .menu{
        display: none;
    }
}